# Project-specific files
arch
tgz
lcl

# Flat make libs, binaries, etc
/bin/.paths
/bin/crossexec
/bin/execrate
/bin/filter
/bin/iffe
/bin/ksh
/bin/mamake
/bin/proto
/bin/mktest
/bin/pty
/bin/regress
/bin/rt
/bin/shcomp
/bin/suid_exec
/fun/
/include/
/lib/file/
/lib/*.a
/man/

# Miscellaneous artefacts
*.bak
*.sav
*.old
*.orig
.*.swp
*.DS_Store
*~
.nfs*
*.tmp
*.rej
*.project
*.core
core
**/#*#
tags
